CLAUDE.md
desktop_app/__pycache__/ws_server.cpython-310.pyc
desktop_app/preset.json
desktop_app/__pycache__/ws_server.cpython-310.pyc
desktop_app/scripts/__pycache__/blender_cube.cpython-310.pyc
desktop_app/scripts/__pycache__/blender_mirror.cpython-310.pyc
desktop_app/scripts/blender_mirror.py
screens/wifi_connection_screen.py
